.dashboard-password {
  display: flex;
  min-height: 100vh;
}

.main-password {
  flex-grow: 1; /* Konten utama menyesuaikan ruang yang tersisa */
  padding: 20px;
  margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
  overflow-y: auto; /* Konten bisa digulir jika melebihi tinggi layar */
  display: flex;
  justify-content: center; /* Menempatkan konten di tengah secara horizontal */
  align-items: center; /* Menempatkan konten di tengah secara vertikal */
}

.plain-center-wrapper {
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  max-width: 890px;
  margin: 130px auto; /* Menempatkan form di tengah */
  background-color: #ffffff; /* Warna latar belakang card */
  border-radius: 10px; /* Membuat sudut card lebih bulat */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Memberikan bayangan pada card */
}

.form-title {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: bold;
  margin-top: 0; /* Menghapus margin atas untuk menempatkan judul lebih dekat */
}

.password-info {
  font-size: 18px;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.form-group input {
  padding: 14px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  min-width: 300px;
}

.save-btn {
  margin-top: 20px;
  padding: 14px 28px;
  border: none;
  background-color: #1d1f2f;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.save-btn:hover {
  background-color: #2f3249;
}
